html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.stamp {
    position: fixed;
    right: 0;
    bottom: 0;
    background-image: url(/img/back.png);
    opacity: 0.4;
    height: 100%;
    width: 100%;
    background-size: cover;
    z-index: -10;
}